<h1>DBC Overflow!</h1>

<h3>Moment of zen brought to you by github: <%= @quote %></h3>

<h2>Ask Your Question</h2>
<%= render 'form' %>

<%= content_tag_for(:li, @questions) do |question| %>
<div class='question-template'>
<h2 class='<%= question.id  %>'><%= link_to question.title, question_answers_path(question) %>
    | <span><%= question.content %></span>
    | <span class='vote-total'>Votes: <%= question.vote_total %></span>
    | <span class='upvote-trigger' data-url='<%= upvote_question_path(question) %>'><%= link_to 'Upvote!', upvote_question_path(question) %></span>
    | <span class='downvote-trigger' data-url='<%= upvote_question_path(question) %>'><%= link_to 'Downvote!', downvote_question_path(question) %></span>
    | <span><%= link_to 'Edit', edit_question_path(question) %></span>
    | <span><%= link_to 'Delete', question_path(question), method: :delete, data: { confirm: "Sure about that?" } %></span>
</h2>
</div>
<% end %>