<h1>Questions!</h1>

<%= link_to 'New Question', new_question_path %>

<%= content_tag_for(:li, @questions) do |question| %>
<h2><%= question.title %> | <%= question.content %> | <%= link_to question.id, question_answers_path(question) %></h2>
<% end %>