<h1><%= @question.title %></h1>

<h2><%= @question.content %></h2>

<h2>Add Answer</h2>
<%= render 'form' %>

<%= link_to 'Back', questions_path %>

<ol>
<%= content_tag_for(:li, @answers) do |answer| %>
<h2><%= answer.title %> | <%= answer.content %></h2>
<% end %>
</ol>